<mat-form-field class="w-full">
  <mat-label>Seleccionar Lider*</mat-label>
  <input
    type="text"
    matInput
    (input)="searchLider()"
    [formControl]="searchInput"
    [matAutocomplete]="auto"
    placeholder="Lider Celula"
  />

  <ng-content></ng-content>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelectedOption($event)"
  >
    @for (lider of lideres(); track lider.id) {
    <mat-option [value]="lider">
      {{ lider.name }} {{ lider.lastname }}
    </mat-option>
    }
  </mat-autocomplete>

  <mat-option
    *ngIf="
      lideres()?.length === 0 &&
      searchInput.value &&
      searchInput.value.length > 0
    "
  >
    No se encontro nada con el termino de busqueda {{ searchInput.value }}
  </mat-option>
</mat-form-field>
