@if(isWaitResponse()){
<app-loading-spinner />
}
<div class="max-w-5xl mx-auto p-4 bg-white shadow-lg rounded-lg">
  <!-- Encabezado de la tarjeta -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-gray-800">Lista de Líderes</h2>

    <div class="flex space-x-2">
      <!-- Campo de búsqueda -->
      <form autocomplete="off" [formGroup]="formSearch" class="search-form">
        <input
          type="text"
          placeholder="Buscar..."
          formControlName="search"
          (input)="onSearch()"
          class="px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </form>

      <!-- Botón para agregar más datos -->
       
      <app-button-add title="Agregar Lider" (click)="openModalAdd()" />
    </div>
  </div>

  <!-- Tabla -->
  <div class="overflow-x-auto sm:overflow-hidden">
    @if (isLoading()){
    <table
      class="table-custom"
    >
      <thead>
        <tr>
          @for (item of headersTable; track $index) {
          <th [ngClass]="{ '': $index === 0 }">
            {{ item | uppercase }}
          </th>
          }
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (lider of lideres()?.data; track $index) {
        <tr
          [ngClass]="{
            'bg-gray-200': $index % 2 === 0,
            'bg-white': $index % 2 !== 0
          }"
        >
          <td>{{ lider.id }}</td>
          <td>
            <img
              [srcset]="lider.foto | appImageProfile"
              alt="foto lider"
              class="rounded-full"
              width="60"
            />
          </td>
          <td>{{ lider.name }}</td>
          <td>
            {{ lider.lastname }}
          </td>
          <td>
            {{ lider.birthdate | date }}
          </td>
          <td>
            {{ lider.contact }}
          </td>
          <td
            [ngClass]="{
              'text-green-600': lider.status === 1,
              'text-red-600': lider.status === 0
            }"
          >
            {{ lider.status | appDataStatus }}
          </td>
          <td class="py-2 px-4 border-b whitespace-nowrap flex space-x-2">
            <!-- Botón Editar -->
            <app-button-edit (click)="openModalEdit(lider)" />
            <!-- Botón Eliminar -->
            @if (lider.status == 1) {
            <app-button-delete
              (click)="onChangeStatus(lider.id, lider.status)"
              color="bg-btn-danger"
              icon="delete"
              titulo="Inhabilitar"
            />
            } @else {
            <app-button-delete
              (click)="onChangeStatus(lider.id, lider.status)"
              color="bg-btn-success"
              icon="restore_from_trash"
              titulo="Habilitar"
            />
            }
          </td>
        </tr>
        } @empty{
        <tr>
          <td align="center" colspan="5" class="py-4 text-gray-500">
            No se encontraron datos que mostrar!
          </td>
        </tr>
        }
      </tbody>
    </table>
    <!-- Versión vertical de la tabla para pantallas pequeñas -->
    <div class="sm:hidden">
      @for (lider of lideres()?.data; track lider.id) {
      <div
        class="bg-white border border-gray-200 rounded-lg mb-4 p-4 shadow-sm"
      >
        <p class="font-bold text-gray-800 flex justify-between">
          #{{ lider.id }}
          <img
            [srcset]="lider.foto | appImageProfile"
            alt="foto lider"
            class="rounded-full"
            width="90"
          />
          <span class="flex space-x-2">
            <!-- Botón Editar -->
            <app-button-edit (click)="openModalEdit(lider)" />
            <!-- Botón Eliminar -->
            @if (lider.status == 1) {
            <app-button-delete
              (click)="onChangeStatus(lider.id, lider.status)"
              color="bg-btn-danger"
              icon="delete"
              titulo="Inhabilitar"
            />
            } @else {
            <app-button-delete
              (click)="onChangeStatus(lider.id, lider.status)"
              color="bg-btn-success"
              icon="restore_from_trash"
              titulo="Habilitar"
            />
            }
          </span>
        </p>
        <p><span class="font-semibold">Nombre:</span> {{ lider.name }}</p>
        <p><span class="font-semibold">Apellido:</span> {{ lider.lastname }}</p>
        <p>
          <span class="font-semibold">Fecha de Nacimiento:</span>
          {{ lider.birthdate | date }}
        </p>
        <p><span class="font-semibold">Contacto:</span> {{ lider.contact }}</p>
      </div>
      }@empty {
      <p class="text-gray-500">No se encontraron datos que mostrar!</p>
      }
    </div>
    } @else{
    <div class="flex items-center justify-center h-16">
      <div
        class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"
      ></div>
    </div>
    }
  </div>

  <!-- Paginador -->
  <app-paginator
    [prevPageUrl]="lideres()?.prev_page_url"
    [nextPageUrl]="lideres()?.next_page_url"
    [links]="lideres()?.links"
    (pageChange)="onPageChange($event)"
  ></app-paginator>
</div>

<app-modal
  [isVisible]="isModalVisible()"
  [titulo]="titleModal"
  (closeModal)="closeModal()"
>
  <app-lider-form-admin
    (closeModal)="closeModal()"
    (statusResponse)="loadLideres(1, '')"
  ></app-lider-form-admin>
</app-modal>
<!---->
